<div class="container">
  <nav>
    <ul>
      <li>
        <a
          routerLink="star-wars/movies"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Movies
        </a>
      </li>
      <li>
        <a
          routerLink="star-wars/characters"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Characters
        </a>
      </li>
      <li>
        <a
          routerLink="star-wars/starships"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Starships
        </a>
      </li>
      <li>
        <a
          routerLink="star-wars/vehicles"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Vehicles
        </a>
      </li>
      <li>
        <a
          routerLink="star-wars/species"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Species
        </a>
      </li>
      <li>
        <a
          routerLink="file-management/upload"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          File Upload
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
